<%= render 'form' %>

<div class="panel-body">
  <div class="container">
    <div class="row">
    	<div class="col-md-4">
        <%= link_to "掲載をやめる", @suitcase, method: :delete, data: { confirm: "データは削除されます。掲載をやめますか？" }, class: "btn btn-danger", style: "float-right" %>
      </div>
    </div>
  </div>
</div>