<%= render 'form' %>

<div class="container">
  <div class="row">
  	<div class="col-md-4">
      <%= link_to "Delete", @suitcase, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary", style: "float-right" %>
    </div>
  </div>
</div>