<div class="panel panel-default">
	<div class="panel-body">
	  <h4>お問い合わせ・ご意見は<p>「caseshare.info＠gmail.com」まで</p></h4>(@は半角にしてください。)
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		よくあるご質問
	</div>
	<div class="panel-body">
		<h4>「Q.利用料はいくら？」</h4><br>
	  A.取引額の15%です。例えば580円×5日=2900円の取引があれば、2900円の15%である435円が差し引かれた2465円が貸出者に振り込まれます。
	  <hr>
	  <h4>「Q.送料は料金に含まれますか？」</h4><br>
	  A.含まれません。宅配便を使う場合は送る人が送料を払ってください。着払いで郵送しないようにお願いいたします。
	  <hr>
	  <h4>「Q.開始日と返却日は具体的にどのタイミングのことでしょうか？」</h4><br>
	  A.開始日はスーツケースが借りる人の元へ届く日、返却日は持ち主の元へ届く日です。お互い余裕を持った日程にしましょう。
	  <hr>
	  <h4>「Q.配送方法は？」</h4><br>
	  A.お任せします。「はこBOON」というところが安いみたいです。お互いの家が近ければ手渡しなどもありでしょう。
	  <hr>
	</div>
</div>