<div class="panel panel-default">
	<div class="panel-body">
	  <h4>お問い合わせ・ご意見は<p>「caseshare.info＠gmail.com」まで</p></h4>(@は半角にしてください。)
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		よくあるご質問
	</div>
	<div class="panel-body">
	  <h4>「Q.送料は料金に含まれますか？」</h4><br>
	  A.含まれません。送る人が送料を払ってください。着払いで郵送しないようにお願いいたします。
	  <hr>
	  <h4>「Q.開始日と返却日は具体的にどのタイミングのことでしょうか？」</h4><br>
	  A.開始日はスーツケースが借りる人の元へ届く日、返却日は持ち主の元へ届く日です。お互い余裕を持った日程にしましょう。
	  <hr>
	  <h4>「Q.配送方法は？」</h4><br>
	  A.お任せします。「はこBOON」というところが安いみたいです。
	  <hr>
	</div>
</div>