<%= form_for([@suitcase, @suitcase.reviews.new]) do |f| %>
	
	<div id="user_stars"></div>
	
	<div class="form-group">
	  <%= f.text_area :comment, rows: 3, class: "form-control" %>
	</div>
	

	<%= f.hidden_field :suitcase_id, value: @suitcase.id %>

	<div class="actions">
		<%= f.submit "投稿する", class: "btn btn-primary"%>
	</div>

<% end %>

<script>
	$('#user_stars').raty({
		path: '/assets',
		scoreName: 'review[star]',
		score: 1
	});
</script>